body{
    background-color: rgb(244, 238, 238);
}
#products .item__img{
    width: 100%;
    height: 200px;
    object-fit: contain
}
.navbar .nav-link{
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.product_item{
    width: 100%;
    border: 1px solid rgb(142, 139, 139);
    padding: 10px;
    margin:0px;
    text-align: center;
}
#show{
    display: flex;
    justify-content: center;
    
}
.more{
    text-align: center;
    border: 1px solid black;
    width: 1300px;
    display: flex;
    justify-content: center;
}   
.product_item .item_name{
    opacity: 0.5;
}

.socialmedia{
    font-size: 40px;
}
.input_email{
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(119, 117, 117);
}

.btn_show{
    width: 100%;
    border: none;
    padding: 10px;
    margin: 15px auto;
    background-color: rgb(57, 56, 56);
    color: white;
    transition: 0.3s;

}
.btn_show:hover{
    background-color: rgb(113, 109, 198);
    

}

.footer_ul{
    list-style: none;
    
}
.footer_ul a{
    color: white;
}
.footer_span a {
    color: white;
}
.cont_footer{
    background-color: rgb(57, 56, 56);
    padding: 44px;
}
.footer_p{
    font-size: 25px;
}
.cont_footer p, span{
    color: white;
}
.e_mail_form span{
    color: black;
}
.e_mail_form>form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_email{
    height: 40px;
}
.icon{
    font-size: 34px;
    color: white;
}
form{
    display: flex;
}